.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.blog-entry {
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
}

@media (min-width: 768px) {
    .blog-entry {
        margin-bottom: 20px;
    }
}

@media (max-width: 575.98px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

.blog-entry .text {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    padding: 30px;
}

.blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
}

.blog-entry .text .heading a {
    color: #000000;
}

.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
    color: #73b925;
}

.blog-entry .text .btn-custom {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: #d7f1b9;
}

.blog-entry .text .btn-custom span {
    color: #73b925;
}

.blog-entry .text .btn-custom:hover {
    background: #73b925;
}

.blog-entry .text .btn-custom:hover span {
    color: #fff;
}

.blog-entry .meta {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.blog-entry .meta span {
    margin-right: 10px;
}

.blog-entry .meta span i {
    color: #73b925;
}

.blog-entry .btn-custom {
    text-transform: uppercase;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}

.blog-single h2,
.blog-single .h2 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
}


.ftco-intro-2 {
    color: rgba(255, 255, 255, 0.8);
    z-index: 0;
    position: relative;
    padding: 5em 0;
}

.ftco-intro-2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: #73b925;
    z-index: -1;
}

@media (max-width: 767.98px) {
    .ftco-intro-2 {
        background-position: center center !important;
    }
}

.ftco-intro-2 .subheading {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.ftco-intro-2 h1,
.ftco-intro-2 .h1 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}


.block-21 .text {
    width: calc(100% - 90px);
}

.block-21 .text .heading {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.block-21 .text .heading a {
    color: #000000;
}

.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
    color: #73b925;
}

.block-21 .text .meta>div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

.block-21 .text .meta>div a {
    color: gray;
    color: #73b925;
}